<h1>Name: Debbie Pao</h1>
<p> Hometown: San Francisco, CA </p>
<p> Year: Junior </p>
<p> Fun Fact: I like eating my cereal separate from milk </p>
<p> Most Excited about Rails Decal: Learning web development using Rails </p>
